body {
  font-family: 'Oswald', sans-serif;
  color: #262626;
  margin: 0px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #262626;
}

.blue {
  background-color: rgb(0, 204, 255);
}

.bluetext {
  color: rgb(0, 204, 255);
}

.logo {
  width: 300px;
  padding-left: 15px;
  padding-top: 3px;
  display: inline-block;
  float: left;
}

.arrow {
  width: 30px;
  padding-bottom: 1px;
  padding-right: 4px;
}

.arrowmedium {
  width: 26px;
  padding-bottom: 8px;
  padding-right: 3px;
}

.arrowsmall {
  width: 17px;
  padding-bottom: 3px;
  padding-right: 3px;
}

label {
  font-size: 16px;
  color: #262626;
}

.menulink a:hover {
  color: rgb(0, 204, 255);
}





.searchlabel {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  align: center;
  color: #262626;
}



.button {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  padding: 8px;
  color: #fff;
  background-color: #262626;
}


.form {
  padding: 15px 0px 0px 0px;
  margin-bottom: 20px;
}

.form2 {
  padding: 10px 0px 0px 0px;
}


a:link {
    color: #262626;
    text-decoration: none;
}

a:visited {
    color: #262626;
    text-decoration: none;

}

a:hover {
    color: rgb(0, 204, 255);
    text-decoration: none;

}

a:active {
    color: #262626;
    text-decoration: none;

}

.whysearch {
  font-family: Georgia, serif;
  vertical-align: baseline;
}


/* iphone6 display*/

/*@media screen and (max-width: 667px) {

  #searchbox {
    width: 300px;
    margin: 0px auto;
    min-width: 200px;
    height: 225px;
    background-color: #EBEBEB;
    margin-top: 30px;

  }

  #infobox {
    width: 300px;
    margin: 0px auto;
    min-width: 200px;
    height: 225px;
    background-color: #EBEBEB;
    margin-top: 15px;
    margin-bottom: 30px;

  }

  .logo {
    width: 250px;
    padding-left: 15px;
    padding-top: 3px;
    display: inline-block;
    float: left;
  }

}*/

/* tablet-ish*/
/*@media screen and (min-width: 667px) and (max-width:847px){

}*/
                                                    
/* standard monitor */                                                                                                                                                            
/*@media screen and (min-width: 847px) and (max-width: 1400px){


}*/

/* superhuge monitor*/
/*@media screen and (min-width: 1400px) {

}*/
  
