/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.form {
  width: 70%;
  max-width: 500px;
  margin-left: 15%;
  margin-right: 15%;
}

.error {
  color: red;
}