<form action="results" method="get">
	<input type="text" name="searched_twitter_handle">
	<input type="submit">
</form>

<%= flash[:message] %>	

<a href="/auth/twitter">Enter your own information</a>

