<div class="form">
  <h2>WE'RE GENERATING YOUR RESULT.</h2>
  <div>
  <p>While you wait, we'd love to get more information about you - it's what keeps our site going!</p>

  <p><img class="smallarrow" src="assets/arrow2.png"> <%= link_to("Sure!", "/auth/twitter") %></p>
  <p><img class="smallarrow" src="assets/arrow2.png"> <%= link_to("No, thanks.", "/result")%></p>
  </div>
</div>
