<div class="form">
  <h2 class="ten columns offset-by-one heading">WE'RE GENERATING YOUR RESULT.</h2>
  
  <div class="ten columns offset-by-one">

	  <div>While you wait, we'd love to get more information about you - it's what keeps our site going!</div>

	  <div><img class="arrowsmall" src="/assets/arrow1.png"><%= link_to("Sure!", "/auth/twitter") %></div>
	  <div><img class="arrowsmall" src="/assets/arrow1.png"><%= link_to("No, thanks", "/result")%></div>

  </div>
</div>
