<h1>Update User Survey</h1>

<%= render 'form' %>

<%= link_to 'Remove Your Data', user_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

<% if session[:twitter_handle] != nil %>
<hr></hr>
<h2>Looks good?</h2>
<br>
<%= link_to("See your search result for #{session[:twitter_handle]}", "/result") %>

<% end %>
