<h1 class="twelve columns center page_title">Update User Survey</h1>

<%= render 'form' %>
<div class="twelve columns center">
<%= button_to 'Remove Your Data', user_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<hr></hr>
<h2>Looks good?</h2>
<br>
<% if session[:twitter_handle] != nil %>
  <%= button_to("See your search result for #{session[:twitter_handle]}", "/result") %>
<% else %>
  <%= button_to("See your results", "/users/self") %>
<% end %>
</div>
