<!-- <h1 class="twelve columns center page_title">Update User Survey</h1> -->

<%= render 'form' %>
<div class="twelve columns padding-l">
<%= button_to 'Remove Your Data', user_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              :class => 'button-red'  %>
</div>
