/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v10/l1cOQ90roY9yC7voEhngDIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v10/HqHm7BVC_nzzTui2lzQTDZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/Qw6_9HvXRQGg5mMbFR3Phn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
  font-family: 'Oswald', sans-serif;
  color: #262626;
  margin: 0px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #262626;
}

.blue {
  background-color: rgb(0, 204, 255);
}

.bluetext {
  color: rgb(0, 204, 255);
}

.logo {
  width: 300px;
  padding-left: 15px;
  padding-top: 3px;
  display: inline-block;
  float: left;
}

.arrow {
  width: 30px;
  padding-bottom: 1px;
  padding-right: 4px;
}

.arrowmedium {
  width: 26px;
  padding-bottom: 8px;
  padding-right: 3px;
}

.arrowsmall {
  width: 17px;
  padding-bottom: 3px;
  padding-right: 3px;
}

label {
  font-size: 16px;
  color: #262626;
}

.menulink a:hover {
  color: rgb(0, 204, 255);
}


.whitelinks a:visited {
  color: #FFFFFF;
}

.whitelinks a:link {
  color: #FFFFFF;
}

.whitelinks a:hover {
  color: #00CCFF;
}


.searchlabel {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  align: center;
  color: #262626;
}



.button {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  padding: 8px;
  color: #fff;
  background-color: #262626;
}


a:link {
    color: #262626;
    text-decoration: none;
}

a:visited {
    color: #262626;
    text-decoration: none;

}

a:hover {
    color: rgb(0, 204, 255);
    text-decoration: none;

}

a:active {
    color: #262626;
    text-decoration: none;

}

.whysearch {
  font-family: Georgia, serif;
  vertical-align: baseline;
}


/* iphone6 display*/

/*@media screen and (max-width: 667px) {

  #searchbox {
    width: 300px;
    margin: 0px auto;
    min-width: 200px;
    height: 225px;
    background-color: #EBEBEB;
    margin-top: 30px;

  }

  #infobox {
    width: 300px;
    margin: 0px auto;
    min-width: 200px;
    height: 225px;
    background-color: #EBEBEB;
    margin-top: 15px;
    margin-bottom: 30px;

  }

  .logo {
    width: 250px;
    padding-left: 15px;
    padding-top: 3px;
    display: inline-block;
    float: left;
  }

}*/

/* tablet-ish*/
/*@media screen and (min-width: 667px) and (max-width:847px){

}*/
                                                    
/* standard monitor */                                                                                                                                                            
/*@media screen and (min-width: 847px) and (max-width: 1400px){


}*/

/* superhuge monitor*/
/*@media screen and (min-width: 1400px) {

}*/
  
