.header{
	display: flex;
	justify-content: center;
	border-radius: 2px;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 5px 8px -2px rgba(128,128,128,1);
	-moz-box-shadow: 0px 5px 8px -2px rgba(128,128,128,1);
	box-shadow: 0px 5px 8px -2px rgba(128,128,128,1);
	padding: 10px;
	line-height: normal;
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.logo a {
	text-decoration: none;
}

.header-right{
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-link{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	white-space: nowrap;
}

.header-link:first-child{
	text-align: right;
}

.header-link:last-child{
	border-left: solid 1px grey;
	margin-left: 10px;
	padding-left: 10px;
}

.header-link:hover{
	color: #33C3F0;
	cursor: pointer;
}

.container {
	background: #F5F8FA;
	min-height: 100vh;
}

.intro p{
	margin: 10% 0;
}

.contentBox {
	display: flex;
    justify-content: space-around;
	background: #FFFFFF;
	padding: 20px;
	border: solid 1px #E1E8ED;
	border-radius: 5px;
}

.twitterResults{
	text-align: center;
	display: flex;
    flex-direction: column;
}

.twitterData {
	text-align: center;
	display: flex;
    flex-direction: column;	
}

.twitterData label{
}

#errorMessage{
	color: red;
}

.searchHelp{
	font-weight: bold;
	border-top: solid 1px #E1E8ED;
	margin-top: 5px;
	padding-top: 5px;
}

.searchHelp:hover{
	color: #33C3F0;
	cursor: pointer;
}

.searchHelp__title{
	font-weight: bold;
	margin-top: 15px;
}

.searchHelp__message{
	font-size: 12px;
}

.dataHelp{
	font-weight: bold;
	border-top: solid 1px #E1E8ED;
	margin-top: 84px;
	padding-top: 5px;
}

.dataHelp:hover{
	color: #33C3F0;
	cursor: pointer;
}

.dataHelp__title{
	font-weight: bold;
	margin-top: 15px;
}

.dataHelp__message{
	font-size: 12px;
}

.center{
	text-align: center;
}

.page_title{
	margin-top: 20px;
}

.ui.labeled.input{
	display: flex;
	height: 38px;
	justify-content: center;
	margin-bottom: 1em;
}

.ui.labeled.input > .label {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0;
  font-size: 1em;
}

.ui.labeled.input > .label:not(.corner) {
  padding-top: 0.78571429em;
  padding-bottom: 0.78571429em;
}

/* Regular Label on Left */

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child + input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-color: transparent;
}

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child + input:focus {
  border-left-color: #85B7D9;
}

.ui.label {
  font-size: 0.85714286rem;
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0em 0.14285714em;
  background-color: #E8E8E8;
  background-image: none;
  padding: 0.5833em 0.833em;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-weight: bold;
  border: 0px solid transparent;
  border-radius: 0.28571429rem;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
}

.l-infoBlock{
  text-align: left;
}

.result-lable{
	font-weight: bold;
	font-size:24px;
	background-color: white;
}