<div class="ten columns offset-by-one intro">
  <p> "We are all different, which is great because we are all unique. Without diversity life would be very boring." -Catherine Pulsifer</p>
</div>

    <div class="ten columns offset-by-one contentBox">
      <div class="six columns twitterResults">
        <%= form_tag("/reroute", method: "post") do %>
          <label for="twitter_handle">TWITTER HANDLE:</label>
          
          <div class="ui labeled input">
            <div class="ui label">
              @
            </div>
            <input id="twitterHandle" type="text" name="twitter_handle" placeholder="TwitterHandle">
          </div>

          <button id="getResults" class="button-primary">Your Results</button>
        <% end %>
          
          <div class="error">
            <%= flash[:message] %>
          </div>

          <div id="searchHelp" class="searchHelp">Who should I search for?</div>

          <div class="searchHelp__title">YOURSELF</div>
          <div class="searchHelp__message">How diverse is your feed? Are you exposed primarily to viewpoints similar to yours?</div>

          <div class="searchHelp__title">ELECTED OFFICALS</div>
          <div class="searchHelp__message">Are your representatives paying attention to the myriad of voices that comprise their constituency?</div>

          <div class="searchHelp__title">YOUR FAVORITE JOURNALIST</div>
          <div class="searchHelp__message">Are they seeking information from a wide variety of people?</div>

      </div>
    </div>
