<!DOCTYPE html>
<html>
<head>
  <title>Twitter Diversity Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>  

</head>
<body>  
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1 style="font-family:oswald"><a href="/">TWITTER DIVERSITY PROJECT</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
    
      <!-- Right Nav Section -->
      <ul class="right greyhover whitelinks">
		<% if session[:twitter_id] %>
		<li><span style="font-family:oswald"><a href="/logout" data-method="post">LOGOUT</span></a></li>
		<% end %>
        <li><span style="font-family:oswald;border-left:1px solid;border-color:#FFF"><a href="/users/1">VIEW YOUR INFO</span></a></li>
      </ul>


    </section>
  </nav>

  <%= yield %>

</body>
</html>

