<!DOCTYPE html>
<html>
<head>
  <title>Twitter Diversity Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="top-bar blue" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><img class="logo" src="/assets/logo.png"></a></h1>
      </li>
    </ul>

    <section class="top-bar-section" style="background-color:rgb(0, 204, 255)">
      <!-- Right Nav Section -->
      <ul class="right" style="background-color:rgb(0, 204, 255)">
        <li class="has-dropdown" style="background-color:rgb(0, 204, 255)">
          <a href="#" style="background-color:rgb(0, 204, 255)">MENU</a>
          <ul class="dropdown">
            <li><a href="/users/1">VIEW YOUR INFO</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/">HOME</a></li>
          </ul>
        </li>
      </ul>

    </section>
  </nav>
  

  <%= yield %>

</body>
</html>
