<!DOCTYPE html>
<html>
<head>
  <title>Twitter Diversity Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <a href="/"><img class="logo" src="/assets/logo.png"></a>
  <div id="menuClicked" class="menuclicked"><a href="#"><img id="menu" class="menu" src="/assets/menu.png"></a></div>
  <div id="menuList" class="menulist" style="display:none">
    <p><a href="/users/1">VIEW YOUR INFO</a></p>
    <p><a href="/about">ABOUT</a></p>
    <p><a href="/">HOME</a></p>
  </div>
</div>

  

<%= yield %>

</body>
</html>
